.customModal {
  :global {
    .ant-modal .ant-modal-content {
      padding: 0 !important;
      box-shadow: none !important;
      border-radius: inherit !important;
    }
    .ant-modal .ant-modal-footer {
      margin: 0;
    }
  }
}
.customMask {
  :global {
    .ant-modal-root .ant-modal-mask {
      background-color: #333;
      opacity: 0.9;
    }
  }
}
