@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Noto Sans JP', sans-serif;
  --font-noto-san-jp: 'Noto Sans JP', sans-serif;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  html,
  body,
  div,
  span {
    font-family: var(--font-noto-san-jp), sans-serif;
  }
}

.stop-scrolling {
  overflow: hidden !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}
