@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Noto Sans JP', sans-serif;
  --font-noto-san-jp: 'Noto Sans JP', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --main-header-height-mobile: 64px;
  --main-header-height-pc: 85px;
  --main-footer-height-mobile: 389px;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: #333;
}

@layer base {
  html,
  body,
  div,
  span {
    font-family: var(--font-noto-san-jp), sans-serif;
  }
}

.stop-scrolling {
  overflow: hidden !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #fff;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}

.clout-custom-modal.ant-modal-root .ant-modal-mask {
  background-color: rgba(51, 51, 51, 0.9) !important;
}

.clout-custom-modal.ant-modal-root .ant-modal .ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 8px !important;
}
.clout-custom-modal.ant-modal-root .ant-modal-wrap {
  z-index: 9999999;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.fixed-page {
  touch-action: none !important;
  overflow: hidden !important;
}
