.customeButtonUpload {
  :global {
    .ant-upload.ant-upload-select {
      width: 100% !important;
      height: 48px !important;
      margin: 0 !important;
      margin-inline-end: 0 !important;
      border-radius: 6px !important;
      border: none !important;
      background-color: #2d3648 !important;
    }
    .reactEasyCrop_CropArea {
      width: 300px !important;
      height: 300px !important;
    }
  }
}
